# Override defaults here


#
# ESP32-specific config
#

CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

FREERTOS_ASSERT_ON_UNTESTED_FUNCTION=n

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
# CONFIG_PARTITION_TABLE_TWO_OTA is not set